<html><head>
    <meta charset="utf-8">

    <title>YouConnected</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <link href="//yc-hackaton.herokuapp.com/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="//yc-hackaton.herokuapp.com/stylesheets/Registercss.css" rel="stylesheet" type="text/css">
    <link href="//yc-hackaton.herokuapp.com/images/favicon.ico" rel="icon" type="image/ico">
    <script src="//yc-hackaton.herokuapp.com/javascripts/Apps/youconnected/register.js" type="text/javascript"></script>
    <meta content="Hackathon" name="apple-mobile-web-app-title">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <link href="//yc-hackaton.herokuapp.com/images/df_icon.png" rel="apple-touch-icon-precomposed">
    <link href="//yc-hackaton.herokuapp.com/images/df_icon.png" rel="apple-touch-icon-precomposed" sizes="114x114">
    <style>
.jq_selected  {          border-width:1px; border-style:solid;border-color:red; background-color:yellow      }  
    </style>
    <style>
[touch-action="none"]{ -ms-touch-action: none; touch-action: none; }[touch-action="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x; }[touch-action="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y; }[touch-action="scroll"],[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]{ -ms-touch-action: pan-x pan-y; touch-action: pan-x pan-y; }
    </style>
    <style>[touch-action="none"]{ -ms-touch-action: none; touch-action: none; }[touch-action="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x; }[touch-action="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y; }[touch-action="scroll"],[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]{ -ms-touch-action: pan-x pan-y; touch-action: pan-x pan-y; }</style>
    <style>     .jq_selected  {         border-width:1px; border-style:solid;border-color:red; background-color:yellow      }  </style>
</head>

<body>
    <div class="container" id="body">
        <div class="wrapper1">
            <div class="row-fluid">
                <div class="span12">
                    <div class="launchlite" id="launchlite" style="margin-top: 20px !important;">
                        <div class="clear"></div>

                        <div id="wrapper">
                            <div class="login-main-dv" id="sfdcLogin">
                                <p style="
    font-family: Tahoma, Geneva, sans-serif !important; 
    font-size: 15px; 
    font-weight: normal; 
    line-height: 3;
">Awaiting incoming call...</p>
                                <a id="hangup" class="login-inner" href="">Hang Up</a><br>
                                <br>
                            </div>
                            <header class="no-margin opacity-one">
                                <h1 class="haslogo hastextheading"><a href="#"><img class="logo-margin-left" src="<%= profile_pic %>" style="width:auto; height:150px">
                                <div style="
                                    font-family: Tahoma, Geneva, sans-serif !important; 
                                    font-size: 20px;
                                    font-weight: bold;
                                
                                    line-height: 1;
"><%= name_title %></div>
                            </a></h1>

                            </header>

                            <p style="
                                font-family: Tahoma, Geneva, sans-serif !important; font-size: 15px; 
                                font-weight: bold; 
                            ">Context:</p>
                            <textarea id="context" rows="4" cols="50" style="
                                text-align: center; 
                                /* margin: 0 auto 0px auto; */  
                                width: 100%;;
                            "></textarea>

                            <div class="login-main-dv" id="sfdcLogin" style="display:<%= display_franco %>;">
                                <button id="callfranco" class="login-inner" style="width: 100%;">Call Francesco</button><br>
                                <br>
                            </div>
                            <div class="login-main-dv" id="sfdcLogin" style="display:<%= display_mark %>;">
                                <button id="callmark" class="login-inner" style="width: 100%;">Call Mark</button><br>
                                <br>
                            </div>
                            <div class="login-main-dv" id="sfdcLogin" style="display:<%= display_richard %>;">
                                <button id="callrichard" class="login-inner" style="width: 100%;">Call Richard</button><br>
                                <br>
                            </div>
                            <div class="login-main-dv" id="sfdcLogin">
                                <p style="padding-top: 20px;"><input id="number" type="text" placeholder="Enter a number like +16519998888"/></p>
                                <button id="call" class="login-inner" style="width: 100%;">Call This Number</button><br>
                                <br>
                            </div>
                            <div class="opacity-one" id="sidebar">
                                <ul id="widgets"></ul>
                            </div>

                            <div class="opacity-one" id="main">
                                <div class="lepost">
                                    <h2></h2>

                                    <h1 class="txt-center padding-bottom-ten">
                                    </h1>
                                </div>
                            </div>

                            <div class="clear"></div>

                            <div id="inner-footer" style="margin-left: 2em">
                                <div class="clear"></div>
                            </div>

                            <div class="clear"></div>
                        </div>

                        <div id="launchtab"></div>
                    </div>

                    <div class="headingtop txt-center"><img alt="" src="//yc-hackaton.herokuapp.com/images/connect-text.png"></div>
                </div>
            </div>
        </div>
    </div>
 
    <!-- include the Twilio Client JavaScript SDK -->
    <script src="//static.twilio.com/libs/twiliojs/1.1/twilio.min.js"></script>
 
    <!-- include jQuery to make DOM manipulation and event handling nicer -->
    <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
 
    <!-- accept incoming calls to this client -->
    <script type="text/javascript">

        //Twilio Number associated to the user
        var callerId = '<%= callerid %>';
        var name = '<%= name %>';

        // Set up the Twilio "Device" (think of it as the browser's phone) with
        // our server-generated capability token, which will be inserted by the
        // EJS template system:
        Twilio.Device.setup('<%= token %>');

    </script>

    <!-- POC  Voice Library-->
    <script src="/poc-library.js"></script>

<div style="position: fixed; z-index: 99999; top: 0px; left: 0px; width: 1px; height: 1px; overflow: hidden; visibility: hidden;"><div style="margin: 10% auto 0px; width: 215px; border-top-left-radius: 8px; border-top-right-radius: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; background-color: rgb(248, 248, 248); border: 8px solid rgb(160, 160, 160);"><button>Close</button></div></div></body></html>